@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  direction: rtl;
}

a {
  color: #2487ce;
  text-decoration: none;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# כפתור חזרה למעלה
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #72c0f9;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;

}


.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #2487ce;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# מניעת עיכוב של אנימציה במצב של מובייל
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  background: #fff;
  z-index: 997;
  padding: 15px 0;
  border-bottom: 1px solid #e6f2fb;
}

#header.header-scrolled {
  border-color: #fff;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #16507b;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  color: #16507b;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active >a
.navbar .active:focus  {
  color: #2487ce;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #2487ce;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #3194db;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #124265;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(10, 38, 58, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #124265;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #2487ce;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #2487ce;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
 הדבר הראשון שרואים שנכנסים לאתר Hero Section החלק העליון שמצייג את עמוד הבית, נקרא 
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/compost.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 80px;
}

#hero h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: #124265;
  font-family: "Poppins", sans-serif;
  direction: rtl;
}

#hero h2 {
  color: #5e5e5e;
  margin: 10px 0 0 0;
  font-size: 22px;
  direction: rtl;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #2487ce;
}

#hero .btn-get-started:hover {
  background: #3194db;
}

#hero .icon-boxes {
  margin-top: 100px;
}

#hero .icon-box {
  padding: 30px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

#hero .icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  direction: rtl;
  color: rgb(6, 56, 6);
}


#hero .icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  direction: rtl;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-height: 800px) {
  #hero {
    height: auto;
  }
}

@media (max-width: 992px) {
  #hero {
    height: auto;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/* עיצוב H3 בתוך פופאפ  */
.H3CENTER{
  text-align: center;
  font-size: 22px;
}

.modal-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem auto -0.5rem -0.5rem;
    
}
/* עיצוב כפתור איקס */
.btn-close {
  box-sizing: content-box;
  width: 2em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #f8f4f4;
  opacity: 1;

}

/*--------------------------------------------------------------
# עיצוב לכל הסקשיינים באתר
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f8fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  direction: rtl;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #124265;
  direction: rtl;
}

.section-title p {
  margin-bottom: 0;
  font-size: 20px;
  color: #343030;
  direction: rtl;
  text-align: right;
}

/*--------------------------------------------------------------
# קומפוסט
--------------------------------------------------------------*/

.Copmpost .content ul {
  list-style: none;
  padding: 0;
}

.Copmpost .content ul li {
  padding-left: 28px;
  margin-top: 14px;
  position: relative;
  direction: rtl;
  text-align:right;

}

.Copmpost .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 26px;
  color: #2487ce;
  line-height: 1;
  direction: rtl;
  text-align:right;

}

.Copmpost .content p:last-child {
  margin-bottom: 0;
  text-align:right;

}

.Copmpost .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #2487ce;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #2487ce;
}

.Copmpost .content .btn-learn-more:hover {
  background: #2487ce;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# ספירה בעמוד מה זה קומפוסט?
--------------------------------------------------------------*/
.counts {
  padding: 60px 0;
}

.counts .count-box {
  width: 100%;
  text-align: center;
}

.counts .count-box span {
  font-size: 48px;
  line-height: 48px;
  display: block;
  font-weight: 700;
  color: #124265;
  margin-left: 80px;
  margin: auto;
}

.counts .count-box p {
  padding: 8px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #1e6ca6;
}



/*--------------------------------------------------------------
# למה להכין קומפוסט?
--------------------------------------------------------------*/
.Why .content {
  font-size: 20px;
}

.Why .content h3 {
  font-weight: 700;
  font-size: 24px;
  color: #124265;
}

.Why.content ul {
  list-style: none;
  padding: 0;
}

.Why .content ul li {
  padding-bottom: 10px;
  padding-left: 28px;
  position: relative;
}

.Why .content ul i {
  font-size: 24px;
  color: #2487ce;
  position: absolute;
  left: 0;
  top: -2px;
}

.Why .content p:last-child {
  margin-bottom: 0;
}





@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}


/*--------------------------------------------------------------
# תהליך
--------------------------------------------------------------*/

.How .faq-list {
  padding: 0 100px;
  padding: 0;
  list-style: none;
}

.How .faq-list li+li {
  margin-top: 8px;
}


.How .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .How .faq-list {
    padding: 0;
  }
}


/* Solution
------------------------------*/
.Solution .Solution-item {
  position: relative;
  padding-top: 30px;
}

.Solution .Solution-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: rgba(var(--color-default-rgb), 0.1);
}

.Solution .Solution-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: var(--color-primary);
  border-right: 5px solid var(--color-background);
}

.Solution .Solution-item .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-right: 50px;
  line-height: 0;
}

.Solution .Solution-item .icon i {
  color: rgba(var(--color-default-rgb), 0.7);
  font-size: 36px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
}

.Solution .Solution-item .icon:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background: rgba(var(--color-primary-rgb), 0.3);
  border-radius: 50px;
  z-index: 1;
  bottom: -15px;
  right: -15px;
  transition: 0.3s;
}

.Solution .Solution-item .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20x;
}

.Solution .Solution-item .title a {
  color: var(--color-secondary);
}

.Solution .Solution-item .title a:hover {
  color: var(--color-primary);
}

.Solution .Solution-item .description {
  line-height: 24px;
  font-size: 18px;
}


/*--------------------------------------------------------------
# בעיה ופתרון
--------------------------------------------------------------*/

.Solution .faq-list {
  padding: 0 100px;
}

.Solution .faq-list ul {
  padding: 0;
  list-style: none;
}

.Solution .faq-list li+li {
  margin-top: 15px;
}

.Solution .faq-list li {
  padding: 20px;
  background: rgb(229, 235, 248);
  border-radius: 4px;
  position: relative;
}

.Solution .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .Solution .faq-list {
    padding: 0;
  }
}


/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li+li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #87c1ea;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #2487ce;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}


/* swiper
------------------------------*/

/* Testimonials Section - Home Page
------------------------------*/
.Carousel
{
  --color-background: #f4f4f4;
}

.Carousel.info h3 {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 32px;
}

.Carousel .swiper {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  background: var(--color-box-background);
}

.Carousel .Carousel-carousel,
.Carousel .Carousel-slider {
  overflow: hidden;
}

.Carousel .Carousel-item {
  box-sizing: content-box;
  min-height: 200px;
  position: relative;
  margin: 30px;
}

.Carousel .Carousel-item .Carousel-img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  border: 6px solid var(--color-background);
  margin-right: 10px;
}

.Carousel .Carousel-item h3 {
  color: var(--color-secondary);
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.testimonials .testimonial-item h4 {
  color: rgba(var(--color-default-rgb), 0.5);
  font-size: 14px;
  margin: 0;
}

.Carousel .Carousel-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.Carousel .swiper-wrapper {
  height: auto;
}

.Carousel .swiper-pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.Carousel .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: grey;
  opacity: 1;
  border: none;
}

.Carousel .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2487ce;
}

@media (max-width: 767px) {

  .Carousel .Carousel-carousel,
  .Carousel .Carousel-slider {
    overflow: hidden;
  }

  .Carousel .Carousel-item {
    margin: 15px;
  }
}


/*--------------------------------------------------------------
# Solution
--------------------------------------------------------------*/
.Solution {
  padding-bottom: 30px;
}

.Solution .card {
  border-radius: 3px;
  border: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.Solution .card-icon {
  text-align: center;
  margin-top: -32px;
}

.Solution .card-icon i {
  font-size: 32px;
  color: #fff;
  width: 64px;
  height: 64px;
  padding-top: 10px;
  text-align: center;
  background-color: #567fc5;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  transition: 0.3s;
  display: inline-block;
}

.Solution .card-body {
  padding-top: 14px;
}

.Solution .card-title {
  font-weight: 700;
  text-align: center;
}


.Solution .card-title a:hover {
  color: #95d0fd;
}

.Solution .card-text {
  color: #363535;
}

.Solution .card:hover .card-icon i {
  background: #fff;
  color: #2160a2;
}

@media (max-width: 1024px) {
  .Solution {
    background-attachment: scroll;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f8fbfe;
  min-height: 40px;
  margin-top: 72px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 58px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #1a5e90;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #f8fbfe;
  direction: rtl;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}


#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2487ce;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #3194db;
  color: #fff;
  text-decoration: none;
}